/**
 * Defining variables
 */

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-line-height: 1.5;
$text-color:       #111;
$background-color: #fdfdfd;
$orange:           #f89406;


/**
 * Using the variables
 */

body {
    font-family:      $base-font-family;
    font-size:        $base-font-size;
    line-height:      $base-line-height;
    color:            $text-color;
    background-color: $background-color;
}

a {
    color: $orange;
    text-decoration: none;

    &:visited {
        color: lighten($orange, 30%);
    }

    &:hover {
        color: darken($orange, 20%);
        text-decoration: underline;
    }
}
